@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --darkest-blue-hsl: 222, 88%, 33%;
  --darker-blue-hsl: 219, 56%, 53%;
  --blue-hsl: 226, 69%, 63%;
  --lighter-blue-hsl: 219, 82%, 76%;
  --lightest-blue-hsl: 203, 33%, 86%;

  --darkest-blue: hsl(var(--darkest-blue-hsl));
  --darker-blue: hsl(var(--darker-blue-hsl));
  --blue: hsl(var(--blue-hsl));
  --lighter-blue: hsl(var(--lighter-blue-hsl));
  --lightest-blue: hsl(var(--lightest-blue-hsl));

  /* --snap-point-height: 150px */
}

@layer base {
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    margin: 0;
    appearance: none;
    -moz-appearance: textfield !important;
  }
}

body {
  color: var(--lightest-blue);
  background: var(--darkest-blue);
}

h1 {
  font-weight: bold;
  font-size: 24px;
}

h2 {
  font-weight: bold;
  font-size: 18px;
}

@layer base {

  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: var(--darkest-blue-hsl);
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
